region         = "eu-frankfurt-1"
# tenancy_id is auto-detected via InstancePrincipal
compartment_id = "ocid1.compartment.oc1..aaaaaaaayf64y3cc6utug3m2ipbwfxptamhzoqk2kkv4gkdiq44yaes3hc5a"

# Customization
vcn_name            = "my-project-vcn"
vcn_cidrs           = ["10.0.0.0/16"]
public_subnet_cidr  = "10.0.1.0/24"
private_subnet_cidr = "10.0.2.0/24"